@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #7DCDFF;
    --secondary-color: #1ba8ff;
    --terciary-color: #065f97;
    --light-color: #fff;
    --primary-gradiente: #E6E6E6;
    --secondary-gradiente: #AAE6FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #c471ed, #12c2e9);
  font-family: 'Poppins', sans-serif;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-card {
    position: relative;
    z-index: 1;
    background: rgba(255,255,255,0.2);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    text-align: center;
    width: 300px;
    box-shadow: 0 5px 10px var(--terciary-color);
}

.avatar {
  width: 70px;
  height: 70px;
  background: #0b2a4a;
  border-radius: 50%;
  margin: -70px auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

.input-group {
  display: flex;
  margin: 10px 0;
  background: #1e3a5f;
  border-radius: 5px;
  overflow: hidden;
}

.input-group .icon {
  padding: 10px;
  background: #0b2a4a;
  color: white;
}

.input-group input {
  border: none;
  outline: none;
  padding: 10px;
  flex: 1;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 10px 0;
}

.login-btn {
    position: relative;
    z-index: 0;
  width: 80%;
  padding: 10px;
  border: none;
  background: rgba(255,255,255,0.2);
  color: white;
  border-radius: 0px 0px 15px 15px;
  text-decoration: none;
  text-align:  center;
  box-shadow: 0 5px 7px var(--terciary-color);
  transition: transform 0.2s ease;
}
.login-btn:hover {
    transform: translateY(2px) scaleY(1.1);
    background: rgba(0, 0, 0, 0.2);
}