@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #7DCDFF;
    --secondary-color: #1ba8ff;
    --terciary-color: #3e99d1;
    --light-color: #e3e9f7;
    --light-secondary: #eaf1ff;
    --cinza: #dadada;
    --cinza-gradiente: #c0c0c0;
    --white-color: #ffff;
    --black-color: #000000;
    --title-color: #003247;
    --sidebar-hover: #49b5e448;
    --andamento: #e4a42f;
    --total: #026402;
    --background-tabs: #dce9f1;
    --background-tabs-hover: #c2d9e7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /*border: 1px solid red;*/
}

body {
    display: flex;
    max-height: 100vh;
    max-width: 100%;
    background-color: var(--light-color);
}

/*NavBar*/
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--light-secondary);
    height: 100vh;
    position: relative;
    transition: all .5s;
    min-width: 80px;
    z-index: 2;
    box-shadow: 0 2px 8px var(--cinza-gradiente);
}

#sidebar_content {
    padding: 12px;
}

li.side-item.central {
    background-color: var(--secondary-color);
    border-radius: 0px;
}

li.side-item.central:hover {
    background-color: var(--terciary-color);
}

li.side-item:hover {
    background-color: var(--light-color);
}

.side-item.central i {
    color: var(--white-color);
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: var(--sidebar-hover);
    color: var(--terciary-color);
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--terciary-color);
}

.side-item.active a, span {
    color: var(--terciary-color);
}

.side-item.central span {
    color: var(--white-color);
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

/*NavBar botão expandir*/
#open {
    display: flex;
    border-top: 1px solid var(--light-color);
    padding: 12px;
    justify-content: center;
    align-items: center;
}

.content_open_btn {
    display: flex;
}

#open_btn {
    font-size: 16px;
    display: flex;
    padding: 10px;
    border: none;
    gap: 20px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
}

#open_btn_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s ease;
    color: var(--terciary-color);
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
    justify-content: center;
    align-items: center;
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
    color: var(--terciary-color);
}

.item-description.central {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
    color: var(--white-color);
}

#sidebar.open-sidebar {
    min-width: 16%;
}

#sidebar.open-sidebar .item-description {
    width: 125px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

/*Menu DropDown */
#base_dropdown {
    display: flex;
    width: 100%;
    height: 8vh;
    justify-content: right;
}

.navbar_dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--terciary-color);
    color: var(--white-color);
    border-radius: 50px;
    margin: 5px;
    width: 7vh;
    height: 7vh;
  }

.nav-item {
    position: relative;
}

.nav-link {
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    padding: 8px;
    top: 25px;
    right: 17px;
    background: var(--white-color);
    min-width: 130px;
    box-shadow: 0 2px 8px var(--cinza);
    border-radius: 35px 0 35px 35px;
    z-index: 5;
}

.infos-perfil {
    margin-top: 2px;
    border-bottom: 1px solid var(--cinza);
}

#infos {
    color: var(--terciary-color);
}

#infos-ADM {
    font-size: 13px;
    color: var(--primary-color);
    margin-bottom: 6px;
}

.dropdown-menu a {
    display: block;
    font-size: 15px;
    padding: 8px;
    text-decoration: none;
    color: var(--terciary-color);
}

.dropdown-menu a:hover {
    color: var(--secondary-color);
}

.show {
    display: block;
}

/*PAGE HOME*/

/*Planilha*/
#Planilha {
    background-color:var(--white-color);
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 67%;
    top: 15%;
    left: 8%;
    border-radius: 15px;
    padding: 12px;
    z-index: 1;
}

.date-plan {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.title-plan {
    border-top: 1px solid var(--cinza);
    text-align: center;
    padding: 10px;
}

.plan {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.entidades-plan {
    display: flex;
    padding: 15px;
}

.container-entidade {
    padding: 60px;
}

.entidade-title {
    width: 100%;
}

.container-entidade:not(:first-child) {
    border-left: 1px solid var(--cinza);
}

#maca {
    padding: 10px;
    border-top: 1px solid var(--cinza);
}

.title-macas {
    text-align: center;
}

.container-macas {
    padding: 50px;
}

/*Calendário*/
#planner {
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 21%;
    top: 15%;
    right: 2%;
    background-color:var(--white-color);
    display: flex;
    padding: 5px;
    border-radius: 15px;
}

.dia-planner {
    text-align: center;
    padding: 8px;
}

.title-date {
    color: var(--terciary-color);
    margin-bottom: 8px;
}

.date {
    padding: 10px;
    background-color: var(--light-color);
    border-radius: 15px;
    margin-bottom: 8px;
}

/*CENTRAL DE DADOS*/
#container {
    display: flex;
    flex-direction: column;
    background-color: #f0f8ff;
    width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px var(--cinza-gradiente);
    position: fixed;
    width: 80%;
    top: 6%;
    left: 12%;
    border-radius: 15px;
    padding: 12px;
    z-index: 1;
}

.tab-buttons {
    display: flex;
    gap: 6px;
}

.tab-btn {
    width: 100%;
    border: none;
    color: #020617;
    background-color: var(--white-color);
    border-radius: 8px 8px 0px 0px;
    font-weight: 500;
    padding: 8px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.tab-btn.active {
    background-color: var(--background-tabs);
}

.tab-btn:hover {
    background-color: var(--background-tabs-hover);
}

.content {
    display: none;
    border: none;
}

.content.show {
    display: flex;
    gap: 14px;
    flex-direction: column;
    background-color: var(--background-tabs);
    border-radius: 0px 0px 8px 8px;
    padding: 16px;
}

/*TABS*/
.title-central {
    color: var(--title-color);
    font-family: 25px;
    padding: 18px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10;
    align-items: center;
    justify-content: center;
}

.blocos-container {
    display: flex;
    padding: 10px;
    gap: 80px;
}

.blocos {
    display: flex;
    width: 250px;
    height: 140px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #ffffffa6;
    box-shadow: 0 2px 8px var(--cinza-gradiente);
    gap: 15px;
}

.blocos:hover {
    box-shadow: 0 2px 8px var(--cinza);
}

.totals {
    border-bottom: 4px solid var(--total);
    gap: 25px;
}

.comunidades {
    border-bottom: 4px solid var(--terciary-color);
}

.andamentos {
    border-bottom: 4px solid var(--andamento);
}

.sub-title {
    font-size: 20px;
}

i.comunidade {
    display: flex;
    color: var(--terciary-color);
    font-size: 30px;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: var(--light-color);
    border-radius: 50px;
}

.number {
    font-size: 30px;
}

p.number {
    color: var(--terciary-color);
}

i.total, p.total {
    color: var(--total);
}

i.andamento, p.andamento {
    color: var(--andamento);
}

p.loading {
    font-size: 18px;
}

/*ATENDIMENTO GRÁFICO*/
.graficos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 10px;
}

.grafico {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    padding: 8px;
    box-shadow: 0 2px 8px var(--cinza-gradiente);
    width: 500px;
    width: 500px;
}

.grafico:hover {
    box-shadow: 0 2px 8px var(--cinza);
}